.outer {
  display: flex;

  flex-direction: column;

  height: 100%;

  header {
    padding: var(--size-unit-4) var(--size-unit-4) 0;
    text-align: center;

    font-size: var(--font-size-normal);
  }

  .content {
    position: relative;

    flex-grow: 1;
  }
}
