.item {
  border: 1px dashed gray;
  padding: 0.5rem 1rem;
  margin-bottom: 0.5rem;
  background-color: white;
  cursor: move;

  display: flex;
  justify-content: space-between;

  &.dragging {
    opacity: 0.15;
  }
}

.title {
  display: block;
  font-size: var(--font-size-normal);
}

.info {
  opacity: 0.75;
  font-size: var(--font-size-small);
}
