.main {
  position: absolute;

  top: 0;
  right: 0;
  bottom: var(--bottom-clear);
  left: 0;
}

.media {
  position: absolute;

  top: 50%;
  left: 50%;

  transform: translate3d(-50%, -50%, 0);

  width: calc(100% - (var(--page-padding) * 2));
  height: calc(100% - (var(--page-padding) * 2));

  object-fit: contain;
  object-position: center;
}

.download {
  position: absolute;

  top: 50%;
  left: 50%;

  transform: translate3d(-50%, -50%, 0);
}
